{
  "parser": "babel-eslint",
  "plugins": [
    "react-native"
  ],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "jest": true,
  },
  "globals": {
  },
  "extends": "airbnb",
  "rules": {
    "quote-props": 0,
    "no-bitwise": 0,
    "no-plusplus": 0,
    "comma-dangle": 0,
    "arrow-parens": 0,
    "global-require": 0,
    "no-else-return": 0,
    "no-mixed-operators": 0,
    "no-nested-ternary": 0,
    "no-restricted-syntax": 0,
    "class-methods-use-this": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "new-cap": [2, {
      "capIsNew": false
    }],
    "react/prop-types": 0,
    "react/sort-comp": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/__tests__/*.js"]}],
    # incorrectly defects correct code "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    # to enable after refactoring "react-native/no-color-literals": 2,
  }
}
