# If you run `tools/test` when you've modified a file that's ignored
# here, you might get a warning like this:
#   0:0  warning  File ignored because of a matching ignore pattern. […]
#
# Don't worry about that warning; it won't appear in CI, and it won't
# appear on future `tools/test` runs when not editing these files.
# For more discussion, see:
#   https://github.com/zulip/zulip-mobile/pull/4430#issuecomment-767297445

# These are purely type definitions, no runtime code.  Most of them
# are third-party code, too, so naturally don't match our style.
**/flow-typed/**

# These are type-tests, made up of code that gets type-checked but
# never actually run.  They're naturally full of dead code which
# ESLint would complain about; and because the code never runs, other
# things it might complain about don't really matter anyway.
**/__flow-tests__/**
