{
  "parser": "babel-eslint",
  "plugins": [
    "react-native",
    "jest",
    "spellcheck"
  ],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "jest": true,
  },
  "globals": {
  },
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    }
  },
  "rules": {
    "quote-props": 0,
    "no-bitwise": 0,
    "no-plusplus": 0,
    "comma-dangle": 0,
    "arrow-parens": 0,
    "no-param-reassign": 0,
    "global-require": 0,
    "no-else-return": 0,
    "no-mixed-operators": 0,
    "no-nested-ternary": 0,
    "no-restricted-syntax": 0,
    "class-methods-use-this": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "new-cap": [2, {
      "capIsNew": false
    }],
    "react/prop-types": 0,
    "react/sort-comp": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "react/no-array-index-key": 0,
    "react/no-unused-prop-types": 0,
    "react/require-default-props": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/__tests__/*.js"]}],
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    # to enable after refactoring "react-native/no-color-literals": 2,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "spellcheck/spell-checker": [1, {
      "comments": true,
      "strings": true,
      "identifiers": true,
      "lang": "en_US",
      "skipWords": [
        "redux", "Zulip", "uri", "timestamp", "api", "nav", "init", "auth", "prev", "utils",
        "http", "https", "msg", "msg1", "msg2", "gif", "img", "abc", "def", "jkl", "xyz", "fn",
        "params", "backends", "dev", "www", "johndoe", "janedoe", "func", "num", "popup",
        "autocomplete", "rgba", "rehydrate", "rehydrated",  "async", "whitelist", "str", "del",
        "subheader", "concat", "streamlist", "scrollable", "eslint", "lastword", "renderer",
        "html", "dom", "tbody", "thead", "th", "td", "href", "pre", "blockquote", "li", "br",
        "emojis", "chatboxes", "userlist", "middleware", "trunc", "pushable", "ios", "md",
        "autocompleted", "substring", "png", "ds", "videocam", "unmount", "github", "facebook",
        "idx", "aaa", "bbb", "ccc", "ddd", "eee", "fff", "abcd", "aaaaaa", "ffffff", "24cac2",
        "src", "attribs", "charset", "utf", "urlencoded", "htmlparser", "htmlparser2", "ul", "ol",
        "chatbubbles", "nonexisting", "primarytext", "autocomple", "stringify", "backend",
        "Menlo", "ok", "py", "todo", "Mc", "lodash", "selectable", "isequal", "lightgray", "tc",
        "zulipchat", "prepend", "pierre", "allen", "jan", "donald", "jane", "unicode", "joe",
        "dan", "abramov", "lang", "Crashlytics", "bool", "ionicons", "truthy", "bezier", "decrement", "js",
        "jsonp", "otp", "Otp", "ascii", "Ascii", "substr", "Util", "actionsheet", "unmute",
        "otp", "Otp", "ascii", "Ascii", "substr", "Util", "actionsheet", "jsonp", "actionsheet", "ionicons",
        "denmark", "copenhagen"
      ],
      "skipIfMatch": [
        "http://[^s]*",
        "^[-\\w]+\/[-\\w\\.]+$" //For MIME Types
      ]
    }]
  }
}
