# Prettier can't handle the Unicode.
src/emoji/__tests__/data-test.js

# These are purely type definitions, no runtime code.  Most of them
# are third-party code, too, so naturally don't match our style.
**/flow-typed/**
types/@react-navigation
types/react-intl.js.flow
types/@react-native-community/netinfo/**
types/react-native-safe-area-context/**
types/@sentry/react-native.js.flow
types/expo-web-browser/**
types/react-native-webview.js.flow

# Third-party code: react-native. We leave this code in the style we
# received it in.
src/third/react-native
