# Prettier can't handle the Unicode.
src/emoji/__tests__/data-test.js

# We'd like to keep the original formatting for some Flow libdefs from
# FlowTyped, to make it easier to eventually make a PR back to
# FlowTyped.
flow-typed/@react-navigation

# These are purely type definitions, no runtime code.  Most of them
# are third-party code, too, so naturally don't match our style.
**/flow-typed/**
