<!--
 This line is here to get `react-native run-android` to work right:
   package="com.zulipmobile.debug"
 It's not smart enough to find out what the actual application ID of
 the app it just built is, so it relies on a regex search of this file.
 That gives it the wrong answer for our debug builds... unless we
 exploit the same limitation by adding this comment. :-)
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zulipmobile">

    <permission android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"
        tools:node="replace"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"
        tools:remove="${excludeSystemAlertWindowPermission}"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.CAMERA" android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize"
        android:launchMode="singleTask">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="zulip" android:host="login" />
        </intent-filter>
      </activity>

      <!-- When `react-native run-android` learns from the decoy `package`
           attribute in our comment above that the application ID is
           `com.zulipmobile.debug`, it then tries to start an activity
           `com.zulipmobile.debug.MainActivity`.  So provide that as an alias.
      -->
      <activity android:name=".debug.MainActivity" android:exported="true"/>

      <service android:name=".notifications.NotificationIntentService" />
      <service android:name="com.wix.reactnativenotifications.core.ProxyService" tools:node="remove" />

      <receiver
          android:name="com.google.android.gms.gcm.GcmReceiver"
          android:exported="true"
          android:permission="com.google.android.c2dm.permission.SEND"
          tools:node="replace"
      >
        <intent-filter>
          <action android:name="com.google.android.c2dm.intent.RECEIVE" />
          <category android:name="${applicationId}" />
        </intent-filter>
      </receiver>
      <service
          android:name="com.zulipmobile.notifications.GcmListenerService"
          android:exported="false" >
        <intent-filter>
          <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        </intent-filter>
      </service>
      <service android:name="com.wix.reactnativenotifications.gcm.GcmMessageHandlerService" tools:node="remove" />

      <service
          android:name=".notifications.InstanceIDListenerService"
          android:exported="false">
        <intent-filter>
          <action android:name="com.google.android.gms.iid.InstanceID" />
        </intent-filter>
      </service>
      <service
          android:name=".notifications.RegistrationIntentService"
          android:exported="false">
      </service>

      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <meta-data android:name="com.wix.reactnativenotifications.gcmSenderId" android:value="@string/gcm_default_sender_id"/>
    </application>
</manifest>
