.emoji-2049:before { content: '⁉'; }
.emoji-2122:before { content: '™'; }
.emoji-2139:before { content: 'ℹ'; }
.emoji-2194:before { content: '↔'; }
.emoji-2195:before { content: '↕'; }
.emoji-2196:before { content: '↖'; }
.emoji-2197:before { content: '↗'; }
.emoji-2198:before { content: '↘'; }
.emoji-2199:before { content: '↙'; }
.emoji-2328:before { content: '⌨'; }
.emoji-2600:before { content: '☀'; }
.emoji-2601:before { content: '☁'; }
.emoji-2604:before { content: '☄'; }
.emoji-2611:before { content: '☑'; }
.emoji-2614:before { content: '☔'; }
.emoji-2615:before { content: '☕'; }
.emoji-2618:before { content: '☘'; }
.emoji-2620:before { content: '☠'; }
.emoji-2622:before { content: '☢'; }
.emoji-2623:before { content: '☣'; }
.emoji-2626:before { content: '☦'; }
.emoji-2638:before { content: '☸'; }
.emoji-2639:before { content: '☹'; }
.emoji-2648:before { content: '♈'; }
.emoji-2649:before { content: '♉'; }
.emoji-2650:before { content: '♐'; }
.emoji-2651:before { content: '♑'; }
.emoji-2652:before { content: '♒'; }
.emoji-2653:before { content: '♓'; }
.emoji-2660:before { content: '♠'; }
.emoji-2663:before { content: '♣'; }
.emoji-2665:before { content: '♥'; }
.emoji-2666:before { content: '♦'; }
.emoji-2668:before { content: '♨'; }
.emoji-2692:before { content: '⚒'; }
.emoji-2693:before { content: '⚓'; }
.emoji-2694:before { content: '⚔'; }
.emoji-2696:before { content: '⚖'; }
.emoji-2697:before { content: '⚗'; }
.emoji-2699:before { content: '⚙'; }
.emoji-2702:before { content: '✂'; }
.emoji-2705:before { content: '✅'; }
.emoji-2708:before { content: '✈'; }
.emoji-2709:before { content: '✉'; }
.emoji-2712:before { content: '✒'; }
.emoji-2714:before { content: '✔'; }
.emoji-2716:before { content: '✖'; }
.emoji-2721:before { content: '✡'; }
.emoji-2728:before { content: '✨'; }
.emoji-2733:before { content: '✳'; }
.emoji-2734:before { content: '✴'; }
.emoji-2744:before { content: '❄'; }
.emoji-2747:before { content: '❇'; }
.emoji-2753:before { content: '❓'; }
.emoji-2754:before { content: '❔'; }
.emoji-2755:before { content: '❕'; }
.emoji-2757:before { content: '❗'; }
.emoji-2763:before { content: '❣'; }
.emoji-2764:before { content: '❤'; }
.emoji-2795:before { content: '➕'; }
.emoji-2796:before { content: '➖'; }
.emoji-2797:before { content: '➗'; }
.emoji-2934:before { content: '⤴'; }
.emoji-2935:before { content: '⤵'; }
.emoji-3030:before { content: '〰'; }
.emoji-3297:before { content: '㊗'; }
.emoji-3299:before { content: '㊙'; }
.emoji-1f4af:before { content: '💯'; }
.emoji-1f522:before { content: '🔢'; }
.emoji-1f198:before { content: '🆘'; }
.emoji-1f642:before { content: '🙂'; }
.emoji-0034:before { content: '4'; }
.emoji-1f341:before { content: '🍁'; }
.emoji-1f3d7:before { content: '🏗'; }
.emoji-26f9:before { content: '⛹'; }
.emoji-1f32c:before { content: '🌬'; }
.emoji-1f314:before { content: '🌔'; }
.emoji-1f199:before { content: '🆙'; }
.emoji-1f6b2:before { content: '🚲'; }
.emoji-267b:before { content: '♻'; }
.emoji-270c:before { content: '✌'; }
.emoji-1f622:before { content: '😢'; }
.emoji-1f4b5:before { content: '💵'; }
.emoji-1f698:before { content: '🚘'; }
.emoji-1f618:before { content: '😘'; }
.emoji-1f3a8:before { content: '🎨'; }
.emoji-1f3eb:before { content: '🏫'; }
.emoji-1f922:before { content: '🤢'; }
.emoji-1f3ae:before { content: '🎮'; }
.emoji-2b50:before { content: '⭐'; }
.emoji-1f45f:before { content: '👟'; }
.emoji-1f624:before { content: '😤'; }
.emoji-1f437:before { content: '🐷'; }
.emoji-1f953:before { content: '🥓'; }
.emoji-1f69f:before { content: '🚟'; }
.emoji-1f564:before { content: '🕤'; }
.emoji-1f4a9:before { content: '💩'; }
.emoji-1f335:before { content: '🌵'; }
.emoji-1f69d:before { content: '🚝'; }
.emoji-1f498:before { content: '💘'; }
.emoji-1f373:before { content: '🍳'; }
.emoji-1f195:before { content: '🆕'; }
.emoji-262e:before { content: '☮'; }
.emoji-1f95e:before { content: '🥞'; }
.emoji-1f33f:before { content: '🌿'; }
.emoji-1f63e:before { content: '😾'; }
.emoji-1f499:before { content: '💙'; }
.emoji-1f343:before { content: '🍃'; }
.emoji-1f3a2:before { content: '🎢'; }
.emoji-1f432:before { content: '🐲'; }
.emoji-1f6b8:before { content: '🚸'; }
.emoji-1f69a:before { content: '🚚'; }
.emoji-1f5fb:before { content: '🗻'; }
.emoji-1f325:before { content: '🌥'; }
.emoji-1f637:before { content: '😷'; }
.emoji-1f4b7:before { content: '💷'; }
.emoji-1f621:before { content: '😡'; }
.emoji-1f250:before { content: '🉐'; }
.emoji-1f697:before { content: '🚗'; }
.emoji-1f51d:before { content: '🔝'; }
.emoji-1f3e5:before { content: '🏥'; }
.emoji-1f534:before { content: '🔴'; }
.emoji-1f5fa:before { content: '🗺'; }
.emoji-1f51a:before { content: '🔚'; }
.emoji-1f6e5:before { content: '🛥'; }
.emoji-1f1ee:before { content: '🇮'; }
.emoji-260e:before { content: '☎'; }
.emoji-1f573:before { content: '🕳'; }
.emoji-1f45d:before { content: '👝'; }
.emoji-1f3ee:before { content: '🏮'; }
.emoji-1f535:before { content: '🔵'; }
.emoji-1f004:before { content: '🀄'; }
.emoji-1f3b2:before { content: '🎲'; }
.emoji-1f4cc:before { content: '📌'; }
.emoji-1f21a:before { content: '🈚'; }
.emoji-1f42c:before { content: '🐬'; }
.emoji-1f303:before { content: '🌃'; }
.emoji-25fd:before { content: '◽'; }
.emoji-1f61a:before { content: '😚'; }
.emoji-1f30e:before { content: '🌎'; }
.emoji-1f98f:before { content: '🦏'; }
.emoji-23ea:before { content: '⏪'; }
.emoji-1f355:before { content: '🍕'; }
.emoji-1f4bc:before { content: '💼'; }
.emoji-1f63c:before { content: '😼'; }
.emoji-1f6c3:before { content: '🛃'; }
.emoji-1f371:before { content: '🍱'; }
.emoji-1f497:before { content: '💗'; }
.emoji-1f387:before { content: '🎇'; }
.emoji-1f950:before { content: '🥐'; }
.emoji-261d:before { content: '☝'; }
.emoji-1f609:before { content: '😉'; }
.emoji-1f5e3:before { content: '🗣'; }
.emoji-1f691:before { content: '🚑'; }
.emoji-1f3e2:before { content: '🏢'; }
.emoji-1f3ac:before { content: '🎬'; }
.emoji-1f606:before { content: '😆'; }
.emoji-1f5fe:before { content: '🗾'; }
.emoji-1f3e4:before { content: '🏤'; }
.emoji-1f951:before { content: '🥑'; }
.emoji-1f635:before { content: '😵'; }
.emoji-1f47f:before { content: '👿'; }
.emoji-1f554:before { content: '🕔'; }
.emoji-1f194:before { content: '🆔'; }
.emoji-1f55d:before { content: '🕝'; }
.emoji-1f461:before { content: '👡'; }
.emoji-1f519:before { content: '🔙'; }
.emoji-1f62e:before { content: '😮'; }
.emoji-1f4c3:before { content: '📃'; }
.emoji-1f3e6:before { content: '🏦'; }
.emoji-1f35e:before { content: '🍞'; }
.emoji-1f506:before { content: '🔆'; }
.emoji-1f447:before { content: '👇'; }
.emoji-1f694:before { content: '🚔'; }
.emoji-1f448:before { content: '👈'; }
.emoji-1f5fc:before { content: '🗼'; }
.emoji-1f55b:before { content: '🕛'; }
.emoji-1f3a3:before { content: '🎣'; }
.emoji-1f30b:before { content: '🌋'; }
.emoji-1f51e:before { content: '🔞'; }
.emoji-1f52d:before { content: '🔭'; }
.emoji-1f915:before { content: '🤕'; }
.emoji-1f577:before { content: '🕷'; }
.emoji-1f4f8:before { content: '📸'; }
.emoji-1f939:before { content: '🤹'; }
.emoji-1f360:before { content: '🍠'; }
.emoji-1f50f:before { content: '🔏'; }
.emoji-1f1f7:before { content: '🇷'; }
.emoji-1f62f:before { content: '😯'; }
.emoji-1f6c4:before { content: '🛄'; }
.emoji-1f338:before { content: '🌸'; }
.emoji-1f4a6:before { content: '💦'; }
.emoji-1f449:before { content: '👉'; }
.emoji-1f44e:before { content: '👎'; }
.emoji-1f3b4:before { content: '🎴'; }
.emoji-1f423:before { content: '🐣'; }
.emoji-1f193:before { content: '🆓'; }
.emoji-1f4a8:before { content: '💨'; }
.emoji-1f684:before { content: '🚄'; }
.emoji-1f357:before { content: '🍗'; }
.emoji-1f347:before { content: '🍇'; }
.emoji-1f36d:before { content: '🍭'; }
.emoji-1f942:before { content: '🥂'; }
.emoji-25fe:before { content: '◾'; }
.emoji-1f3e7:before { content: '🏧'; }
.emoji-1f682:before { content: '🚂'; }
.emoji-1f44d:before { content: '👍'; }
.emoji-1f49d:before { content: '💝'; }
.emoji-1f924:before { content: '🤤'; }
.emoji-1f555:before { content: '🕕'; }
.emoji-1f3c0:before { content: '🏀'; }
.emoji-1f930:before { content: '🤰'; }
.emoji-1f561:before { content: '🕡'; }
.emoji-1f6e4:before { content: '🛤'; }
.emoji-1f367:before { content: '🍧'; }
.emoji-1f38c:before { content: '🎌'; }
.emoji-271d:before { content: '✝'; }
.emoji-1f690:before { content: '🚐'; }
.emoji-1f6bf:before { content: '🚿'; }
.emoji-1f638:before { content: '😸'; }
.emoji-1f415:before { content: '🐕'; }
.emoji-1f50a:before { content: '🔊'; }
.emoji-1f54b:before { content: '🕋'; }
.emoji-1f3c3:before { content: '🏃'; }
.emoji-1f40f:before { content: '🐏'; }
.emoji-270d:before { content: '✍'; }
.emoji-1f400:before { content: '🐀'; }
.emoji-1f391:before { content: '🎑'; }
.emoji-1f30c:before { content: '🌌'; }
.emoji-1f454:before { content: '👔'; }
.emoji-1f63d:before { content: '😽'; }
.emoji-1f58c:before { content: '🖌'; }
.emoji-1f52e:before { content: '🔮'; }
.emoji-1f201:before { content: '🈁'; }
.emoji-1f444:before { content: '👄'; }
.emoji-1f55a:before { content: '🕚'; }
.emoji-24c2:before { content: 'Ⓜ'; }
.emoji-1f171:before { content: '🅱'; }
.emoji-1f631:before { content: '😱'; }
.emoji-1f4a3:before { content: '💣'; }
.emoji-1f4e1:before { content: '📡'; }
.emoji-1f91b:before { content: '🤛'; }
.emoji-1f95b:before { content: '🥛'; }
.emoji-1f4fb:before { content: '📻'; }
.emoji-1f237:before { content: '🈷'; }
.emoji-1f17f:before { content: '🅿'; }
.emoji-1f31a:before { content: '🌚'; }
.emoji-1f192:before { content: '🆒'; }
.emoji-1f35a:before { content: '🍚'; }
.emoji-1f42f:before { content: '🐯'; }
.emoji-1f576:before { content: '🕶'; }
.emoji-1f22f:before { content: '🈯'; }
.emoji-1f1e9:before { content: '🇩'; }
.emoji-231a:before { content: '⌚'; }
.emoji-1f626:before { content: '😦'; }
.emoji-1f349:before { content: '🍉'; }
.emoji-1f492:before { content: '💒'; }
.emoji-1f232:before { content: '🈲'; }
.emoji-1f987:before { content: '🦇'; }
.emoji-1f52c:before { content: '🔬'; }
.emoji-1f479:before { content: '👹'; }
.emoji-1f473:before { content: '👳'; }
.emoji-262a:before { content: '☪'; }
.emoji-1f42a:before { content: '🐪'; }
.emoji-1f6ad:before { content: '🚭'; }
.emoji-1f528:before { content: '🔨'; }
.emoji-231b:before { content: '⌛'; }
.emoji-1f4ee:before { content: '📮'; }
.emoji-1f94b:before { content: '🥋'; }
.emoji-1f6be:before { content: '🚾'; }
.emoji-1f629:before { content: '😩'; }
.emoji-1f646:before { content: '🙆'; }
.emoji-1f46e:before { content: '👮'; }
.emoji-1f37e:before { content: '🍾'; }
.emoji-1f404:before { content: '🐄'; }
.emoji-2b1c:before { content: '⬜'; }
.emoji-1f43d:before { content: '🐽'; }
.emoji-26f8:before { content: '⛸'; }
.emoji-1f643:before { content: '🙃'; }
.emoji-1f329:before { content: '🌩'; }
.emoji-0033:before { content: '3'; }
.emoji-1f37a:before { content: '🍺'; }
.emoji-1f3df:before { content: '🏟'; }
.emoji-1f6eb:before { content: '🛫'; }
.emoji-1f436:before { content: '🐶'; }
.emoji-1f503:before { content: '🔃'; }
.emoji-1f344:before { content: '🍄'; }
.emoji-23fa:before { content: '⏺'; }
.emoji-1f644:before { content: '🙄'; }
.emoji-1f41c:before { content: '🐜'; }
.emoji-1f605:before { content: '😅'; }
.emoji-1f390:before { content: '🎐'; }
.emoji-1f91a:before { content: '🤚'; }
.emoji-1f4fd:before { content: '📽'; }
.emoji-1f98e:before { content: '🦎'; }
.emoji-0037:before { content: '7'; }
.emoji-1f363:before { content: '🍣'; }
.emoji-1f5c3:before { content: '🗃'; }
.emoji-1f570:before { content: '🕰'; }
.emoji-1f4ab:before { content: '💫'; }
.emoji-1f959:before { content: '🥙'; }
.emoji-25b6:before { content: '▶'; }
.emoji-1f3bb:before { content: '🎻'; }
.emoji-1f401:before { content: '🐁'; }
.emoji-23eb:before { content: '⏫'; }
.emoji-1f49f:before { content: '💟'; }
.emoji-1f313:before { content: '🌓'; }
.emoji-1f6f0:before { content: '🛰'; }
.emoji-270b:before { content: '✋'; }
.emoji-1f384:before { content: '🎄'; }
.emoji-1f381:before { content: '🎁'; }
.emoji-1f494:before { content: '💔'; }
.emoji-1f61d:before { content: '😝'; }
.emoji-1f30a:before { content: '🌊'; }
.emoji-1f95d:before { content: '🥝'; }
.emoji-1f614:before { content: '😔'; }
.emoji-26c4:before { content: '⛄'; }
.emoji-2b06:before { content: '⬆'; }
.emoji-1f4b4:before { content: '💴'; }
.emoji-1f4cf:before { content: '📏'; }
.emoji-1f33e:before { content: '🌾'; }
.emoji-1f62a:before { content: '😪'; }
.emoji-1f34f:before { content: '🍏'; }
.emoji-1f4c8:before { content: '📈'; }
.emoji-1f91d:before { content: '🤝'; }
.emoji-25fb:before { content: '◻'; }
.emoji-1f33b:before { content: '🌻'; }
.emoji-1f61f:before { content: '😟'; }
.emoji-1f607:before { content: '😇'; }
.emoji-1f639:before { content: '😹'; }
.emoji-1f54e:before { content: '🕎'; }
.emoji-1f33d:before { content: '🌽'; }
.emoji-262f:before { content: '☯'; }
.emoji-1f51f:before { content: '🔟'; }
.emoji-1f55c:before { content: '🕜'; }
.emoji-1f6ec:before { content: '🛬'; }
.emoji-1f4c6:before { content: '📆'; }
.emoji-1f4ff:before { content: '📿'; }
.emoji-1f61b:before { content: '😛'; }
.emoji-1f50e:before { content: '🔎'; }
.emoji-1f4ed:before { content: '📭'; }
.emoji-1f451:before { content: '👑'; }
.emoji-1f617:before { content: '😗'; }
.emoji-1f496:before { content: '💖'; }
.emoji-1f64e:before { content: '🙎'; }
.emoji-1f32b:before { content: '🌫'; }
.emoji-1f3a0:before { content: '🎠'; }
.emoji-1f91c:before { content: '🤜'; }
.emoji-1f197:before { content: '🆗'; }
.emoji-1f3c6:before { content: '🏆'; }
.emoji-1f4b0:before { content: '💰'; }
.emoji-1f55f:before { content: '🕟'; }
.emoji-25aa:before { content: '▪'; }
.emoji-2b55:before { content: '⭕'; }
.emoji-1f515:before { content: '🔕'; }
.emoji-1f419:before { content: '🐙'; }
.emoji-1f62d:before { content: '😭'; }
.emoji-1f933:before { content: '🤳'; }
.emoji-1f405:before { content: '🐅'; }
.emoji-1f6c0:before { content: '🛀'; }
.emoji-1f956:before { content: '🥖'; }
.emoji-1f5dc:before { content: '🗜'; }
.emoji-1f3be:before { content: '🎾'; }
.emoji-1f493:before { content: '💓'; }
.emoji-1f386:before { content: '🎆'; }
.emoji-1f632:before { content: '😲'; }
.emoji-1f4f2:before { content: '📲'; }
.emoji-1f647:before { content: '🙇'; }
.emoji-1f919:before { content: '🤙'; }
.emoji-1f619:before { content: '😙'; }
.emoji-1f6a9:before { content: '🚩'; }
.emoji-1f604:before { content: '😄'; }
.emoji-264a:before { content: '♊'; }
.emoji-1f6a2:before { content: '🚢'; }
.emoji-1f3a5:before { content: '🎥'; }
.emoji-21aa:before { content: '↪'; }
.emoji-1f196:before { content: '🆖'; }
.emoji-1f332:before { content: '🌲'; }
.emoji-1f3c8:before { content: '🏈'; }
.emoji-1f69b:before { content: '🚛'; }
.emoji-1f51b:before { content: '🔛'; }
.emoji-1f693:before { content: '🚓'; }
.emoji-1f633:before { content: '😳'; }
.emoji-1f954:before { content: '🥔'; }
.emoji-1f636:before { content: '😶'; }
.emoji-1f98d:before { content: '🦍'; }
.emoji-1f4fc:before { content: '📼'; }
.emoji-1f377:before { content: '🍷'; }
.emoji-1f563:before { content: '🕣'; }
.emoji-1f608:before { content: '😈'; }
.emoji-1f3bf:before { content: '🎿'; }
.emoji-1f3ec:before { content: '🏬'; }
.emoji-1f40a:before { content: '🐊'; }
.emoji-1f935:before { content: '🤵'; }
.emoji-1f533:before { content: '🔳'; }
.emoji-27b0:before { content: '➰'; }
.emoji-1f6a0:before { content: '🚠'; }
.emoji-1f348:before { content: '🍈'; }
.emoji-1f623:before { content: '😣'; }
.emoji-1f531:before { content: '🔱'; }
.emoji-1f233:before { content: '🈳'; }
.emoji-1f6e0:before { content: '🛠'; }
.emoji-1f536:before { content: '🔶'; }
.emoji-1f913:before { content: '🤓'; }
.emoji-1f4ae:before { content: '💮'; }
.emoji-1f52b:before { content: '🔫'; }
.emoji-1f68f:before { content: '🚏'; }
.emoji-1f500:before { content: '🔀'; }
.emoji-1f55e:before { content: '🕞'; }
.emoji-2b05:before { content: '⬅'; }
.emoji-1f5dd:before { content: '🗝'; }
.emoji-1f538:before { content: '🔸'; }
.emoji-25ab:before { content: '▫'; }
.emoji-1f52a:before { content: '🔪'; }
.emoji-1f5c2:before { content: '🗂'; }
.emoji-1f4c1:before { content: '📁'; }
.emoji-1f3fa:before { content: '🏺'; }
.emoji-1f366:before { content: '🍦'; }
.emoji-26be:before { content: '⚾'; }
.emoji-1f466:before { content: '👦'; }
.emoji-1f64c:before { content: '🙌'; }
.emoji-1f920:before { content: '🤠'; }
.emoji-1f590:before { content: '🖐'; }
.emoji-1f91e:before { content: '🤞'; }
.emoji-1f688:before { content: '🚈'; }
.emoji-1f486:before { content: '💆'; }
.emoji-1f239:before { content: '🈹'; }
.emoji-1f6a8:before { content: '🚨'; }
.emoji-1f4e4:before { content: '📤'; }
.emoji-1f376:before { content: '🍶'; }
.emoji-1f616:before { content: '😖'; }
.emoji-1f620:before { content: '😠'; }
.emoji-1f4f6:before { content: '📶'; }
.emoji-1f38d:before { content: '🎍'; }
.emoji-1f4f1:before { content: '📱'; }
.emoji-1f47c:before { content: '👼'; }
.emoji-1f482:before { content: '💂'; }
.emoji-1f4b8:before { content: '💸'; }
.emoji-1f37b:before { content: '🍻'; }
.emoji-1f645:before { content: '🙅'; }
.emoji-1f4a1:before { content: '💡'; }
.emoji-1f4a5:before { content: '💥'; }
.emoji-1f408:before { content: '🐈'; }
.emoji-1f3bd:before { content: '🎽'; }
.emoji-26f4:before { content: '⛴'; }
.emoji-1f49a:before { content: '💚'; }
.emoji-1f615:before { content: '😕'; }
.emoji-1f475:before { content: '👵'; }
.emoji-264f:before { content: '♏'; }
.emoji-26f5:before { content: '⛵'; }
.emoji-1f4ec:before { content: '📬'; }
.emoji-1f418:before { content: '🐘'; }
.emoji-1f4d6:before { content: '📖'; }
.emoji-1f625:before { content: '😥'; }
.emoji-1f238:before { content: '🈸'; }
.emoji-1f6e3:before { content: '🛣'; }
.emoji-1f235:before { content: '🈵'; }
.emoji-1f382:before { content: '🎂'; }
.emoji-1f50d:before { content: '🔍'; }
.emoji-1f4c5:before { content: '📅'; }
.emoji-1f328:before { content: '🌨'; }
.emoji-1f54a:before { content: '🕊'; }
.emoji-1f98a:before { content: '🦊'; }
.emoji-1f468:before { content: '👨'; }
.emoji-1f35b:before { content: '🍛'; }
.emoji-267f:before { content: '♿'; }
.emoji-1f202:before { content: '🈂'; }
.emoji-1f6e1:before { content: '🛡'; }
.emoji-1f6d2:before { content: '🛒'; }
.emoji-1f487:before { content: '💇'; }
.emoji-2b07:before { content: '⬇'; }
.emoji-26c8:before { content: '⛈'; }
.emoji-1f3f5:before { content: '🏵'; }
.emoji-1f4b1:before { content: '💱'; }
.emoji-1f312:before { content: '🌒'; }
.emoji-1f5de:before { content: '🗞'; }
.emoji-23f3:before { content: '⏳'; }
.emoji-1f42d:before { content: '🐭'; }
.emoji-1f3b3:before { content: '🎳'; }
.emoji-1f422:before { content: '🐢'; }
.emoji-1f6af:before { content: '🚯'; }
.emoji-1f477:before { content: '👷'; }
.emoji-1f911:before { content: '🤑'; }
.emoji-1f513:before { content: '🔓'; }
.emoji-1f41e:before { content: '🐞'; }
.emoji-1f467:before { content: '👧'; }
.emoji-1f3cb:before { content: '🏋'; }
.emoji-1f305:before { content: '🌅'; }
.emoji-1f984:before { content: '🦄'; }
.emoji-1f17e:before { content: '🅾'; }
.emoji-1f3ce:before { content: '🏎'; }
.emoji-1f3ed:before { content: '🏭'; }
.emoji-1f4d8:before { content: '📘'; }
.emoji-1f397:before { content: '🎗'; }
.emoji-1f985:before { content: '🦅'; }
.emoji-1f940:before { content: '🥀'; }
.emoji-1f62c:before { content: '😬'; }
.emoji-1f509:before { content: '🔉'; }
.emoji-1f3b5:before { content: '🎵'; }
.emoji-1f460:before { content: '👠'; }
.emoji-1f4d7:before { content: '📗'; }
.emoji-1f3a7:before { content: '🎧'; }
.emoji-1f47e:before { content: '👾'; }
.emoji-23f9:before { content: '⏹'; }
.emoji-270a:before { content: '✊'; }
.emoji-1f48b:before { content: '💋'; }
.emoji-1f60b:before { content: '😋'; }
.emoji-1f63a:before { content: '😺'; }
.emoji-26ce:before { content: '⛎'; }
.emoji-1f49e:before { content: '💞'; }
.emoji-0031:before { content: '1'; }
.emoji-1f48d:before { content: '💍'; }
.emoji-26a1:before { content: '⚡'; }
.emoji-1f411:before { content: '🐑'; }
.emoji-1f516:before { content: '🔖'; }
.emoji-1f578:before { content: '🕸'; }
.emoji-1f440:before { content: '👀'; }
.emoji-1f3f3:before { content: '🏳'; }
.emoji-1f4dd:before { content: '📝'; }
.emoji-1f595:before { content: '🖕'; }
.emoji-1f4fa:before { content: '📺'; }
.emoji-1f53d:before { content: '🔽'; }
.emoji-1f43e:before { content: '🐾'; }
.emoji-1f640:before { content: '🙀'; }
.emoji-1f562:before { content: '🕢'; }
.emoji-1f3a9:before { content: '🎩'; }
.emoji-1f567:before { content: '🕧'; }
.emoji-1f69c:before { content: '🚜'; }
.emoji-1f236:before { content: '🈶'; }
.emoji-1f63f:before { content: '😿'; }
.emoji-1f42e:before { content: '🐮'; }
.emoji-1f481:before { content: '💁'; }
.emoji-1f4a2:before { content: '💢'; }
.emoji-270f:before { content: '✏'; }
.emoji-1f337:before { content: '🌷'; }
.emoji-1f306:before { content: '🌆'; }
.emoji-1f321:before { content: '🌡'; }
.emoji-00ae:before { content: '®'; }
.emoji-1f98b:before { content: '🦋'; }
.emoji-1f5a8:before { content: '🖨'; }
.emoji-1f32a:before { content: '🌪'; }
.emoji-1f392:before { content: '🎒'; }
.emoji-1f63b:before { content: '😻'; }
.emoji-1f4b3:before { content: '💳'; }
.emoji-1f3c1:before { content: '🏁'; }
.emoji-1f4df:before { content: '📟'; }
.emoji-1f364:before { content: '🍤'; }
.emoji-1f307:before { content: '🌇'; }
.emoji-26ab:before { content: '⚫'; }
.emoji-1f575:before { content: '🕵'; }
.emoji-1f6b6:before { content: '🚶'; }
.emoji-1f537:before { content: '🔷'; }
.emoji-1f45e:before { content: '👞'; }
.emoji-1f6cd:before { content: '🛍'; }
.emoji-1f5b1:before { content: '🖱'; }
.emoji-1f4b9:before { content: '💹'; }
.emoji-1f48e:before { content: '💎'; }
.emoji-274e:before { content: '❎'; }
.emoji-1f602:before { content: '😂'; }
.emoji-1f4e7:before { content: '📧'; }
.emoji-1f234:before { content: '🈴'; }
.emoji-1f0cf:before { content: '🃏'; }
.emoji-1f4aa:before { content: '💪'; }
.emoji-1f462:before { content: '👢'; }
.emoji-1f649:before { content: '🙉'; }
.emoji-1f3ea:before { content: '🏪'; }
.emoji-1f4ba:before { content: '💺'; }
.emoji-1f4e2:before { content: '📢'; }
.emoji-1f60d:before { content: '😍'; }
.emoji-1f3d5:before { content: '🏕'; }
.emoji-1f6b4:before { content: '🚴'; }
.emoji-1f3f7:before { content: '🏷'; }
.emoji-1f64b:before { content: '🙋'; }
.emoji-26bd:before { content: '⚽'; }
.emoji-1f336:before { content: '🌶'; }
.emoji-1f1ef:before { content: '🇯'; }
.emoji-1f603:before { content: '😃'; }
.emoji-1f3b8:before { content: '🎸'; }
.emoji-1f326:before { content: '🌦'; }
.emoji-1f372:before { content: '🍲'; }
.emoji-1f379:before { content: '🍹'; }
.emoji-1f502:before { content: '🔂'; }
.emoji-1f6bb:before { content: '🚻'; }
.emoji-1f320:before { content: '🌠'; }
.emoji-23e9:before { content: '⏩'; }
.emoji-264b:before { content: '♋'; }
.emoji-1f456:before { content: '👖'; }
.emoji-1f417:before { content: '🐗'; }
.emoji-1f983:before { content: '🦃'; }
.emoji-1f471:before { content: '👱'; }
.emoji-1f430:before { content: '🐰'; }
.emoji-1f362:before { content: '🍢'; }
.emoji-1f681:before { content: '🚁'; }
.emoji-1f39b:before { content: '🎛'; }
.emoji-1f3ad:before { content: '🎭'; }
.emoji-1f301:before { content: '🌁'; }
.emoji-1f421:before { content: '🐡'; }
.emoji-1f4ac:before { content: '💬'; }
.emoji-1f331:before { content: '🌱'; }
.emoji-1f4e9:before { content: '📩'; }
.emoji-2b1b:before { content: '⬛'; }
.emoji-1f4f0:before { content: '📰'; }
.emoji-1f6f6:before { content: '🛶'; }
.emoji-1f41a:before { content: '🐚'; }
.emoji-1f45b:before { content: '👛'; }
.emoji-1f634:before { content: '😴'; }
.emoji-1f433:before { content: '🐳'; }
.emoji-1f54d:before { content: '🕍'; }
.emoji-1f3d8:before { content: '🏘'; }
.emoji-1f6b5:before { content: '🚵'; }
.emoji-1f686:before { content: '🚆'; }
.emoji-1f945:before { content: '🥅'; }
.emoji-1f6ce:before { content: '🛎'; }
.emoji-26c5:before { content: '⛅'; }
.emoji-1f4a0:before { content: '💠'; }
.emoji-1f488:before { content: '💈'; }
.emoji-1f368:before { content: '🍨'; }
.emoji-1f523:before { content: '🔣'; }
.emoji-1f32f:before { content: '🌯'; }
.emoji-1f579:before { content: '🕹'; }
.emoji-1f695:before { content: '🚕'; }
.emoji-1f505:before { content: '🔅'; }
.emoji-1f46f:before { content: '👯'; }
.emoji-1f42b:before { content: '🐫'; }
.emoji-1f3c2:before { content: '🏂'; }
.emoji-1f339:before { content: '🌹'; }
.emoji-23f1:before { content: '⏱'; }
.emoji-1f48a:before { content: '💊'; }
.emoji-26f7:before { content: '⛷'; }
.emoji-1f941:before { content: '🥁'; }
.emoji-1f4d9:before { content: '📙'; }
.emoji-1f3af:before { content: '🎯'; }
.emoji-1f61e:before { content: '😞'; }
.emoji-1f601:before { content: '😁'; }
.emoji-1f6d0:before { content: '🛐'; }
.emoji-1f47a:before { content: '👺'; }
.emoji-1f504:before { content: '🔄'; }
.emoji-1f443:before { content: '👃'; }
.emoji-1f44f:before { content: '👏'; }
.emoji-1f3ef:before { content: '🏯'; }
.emoji-1f38b:before { content: '🎋'; }
.emoji-1f549:before { content: '🕉'; }
.emoji-1f4e6:before { content: '📦'; }
.emoji-27a1:before { content: '➡'; }
.emoji-1f990:before { content: '🦐'; }
.emoji-1f4c9:before { content: '📉'; }
.emoji-1f43a:before { content: '🐺'; }
.emoji-1f402:before { content: '🐂'; }
.emoji-1f5e1:before { content: '🗡'; }
.emoji-1f550:before { content: '🕐'; }
.emoji-1f910:before { content: '🤐'; }
.emoji-1f489:before { content: '💉'; }
.emoji-1f685:before { content: '🚅'; }
.emoji-1f613:before { content: '😓'; }
.emoji-1f518:before { content: '🔘'; }
.emoji-1f40b:before { content: '🐋'; }
.emoji-269b:before { content: '⚛'; }
.emoji-1f353:before { content: '🍓'; }
.emoji-1f6b1:before { content: '🚱'; }
.emoji-1f31f:before { content: '🌟'; }
.emoji-1f93c:before { content: '🤼'; }
.emoji-1f6bd:before { content: '🚽'; }
.emoji-1f18e:before { content: '🆎'; }
.emoji-1f3a6:before { content: '🎦'; }
.emoji-1f170:before { content: '🅰'; }
.emoji-1f98c:before { content: '🦌'; }
.emoji-1f191:before { content: '🆑'; }
.emoji-1f4be:before { content: '💾'; }
.emoji-1f455:before { content: '👕'; }
.emoji-1f4de:before { content: '📞'; }
.emoji-23ec:before { content: '⏬'; }
.emoji-1f32d:before { content: '🌭'; }
.emoji-1f64f:before { content: '🙏'; }
.emoji-1f565:before { content: '🕥'; }
.emoji-203c:before { content: '‼'; }
.emoji-1f350:before { content: '🍐'; }
.emoji-1f429:before { content: '🐩'; }
.emoji-1f6e2:before { content: '🛢'; }
.emoji-1f60f:before { content: '😏'; }
.emoji-1f304:before { content: '🌄'; }
.emoji-1f58b:before { content: '🖋'; }
.emoji-1f4ad:before { content: '💭'; }
.emoji-1f93e:before { content: '🤾'; }
.emoji-1f6b3:before { content: '🚳'; }
.emoji-1f472:before { content: '👲'; }
.emoji-1f450:before { content: '👐'; }
.emoji-303d:before { content: '〽'; }
.emoji-1f4e0:before { content: '📠'; }
.emoji-1f469:before { content: '👩'; }
.emoji-1f3ab:before { content: '🎫'; }
.emoji-1f35c:before { content: '🍜'; }
.emoji-1f378:before { content: '🍸'; }
.emoji-1f5ef:before { content: '🗯'; }
.emoji-1f3b7:before { content: '🎷'; }
.emoji-1f4d4:before { content: '📔'; }
.emoji-1f327:before { content: '🌧'; }
.emoji-1f641:before { content: '🙁'; }
.emoji-1f375:before { content: '🍵'; }
.emoji-0030:before { content: '0'; }
.emoji-1f380:before { content: '🎀'; }
.emoji-1f524:before { content: '🔤'; }
.emoji-1f49c:before { content: '💜'; }
.emoji-1f530:before { content: '🔰'; }
.emoji-0023:before { content: '#'; }
.emoji-1f3c4:before { content: '🏄'; }
.emoji-1f311:before { content: '🌑'; }
.emoji-1f61c:before { content: '😜'; }
.emoji-26d4:before { content: '⛔'; }
.emoji-1f4db:before { content: '📛'; }
.emoji-1f3db:before { content: '🏛'; }
.emoji-1f439:before { content: '🐹'; }
.emoji-26cf:before { content: '⛏'; }
.emoji-269c:before { content: '⚜'; }
.emoji-1f46a:before { content: '👪'; }
.emoji-1f358:before { content: '🍘'; }
.emoji-1f4e5:before { content: '📥'; }
.emoji-23ed:before { content: '⏭'; }
.emoji-1f62b:before { content: '😫'; }
.emoji-1f923:before { content: '🤣'; }
.emoji-1f361:before { content: '🍡'; }
.emoji-1f441:before { content: '👁'; }
.emoji-0032:before { content: '2'; }
.emoji-25c0:before { content: '◀'; }
.emoji-1f938:before { content: '🤸'; }
.emoji-1f4e3:before { content: '📣'; }
.emoji-1f330:before { content: '🌰'; }
.emoji-1f6aa:before { content: '🚪'; }
.emoji-1f324:before { content: '🌤'; }
.emoji-1f6d1:before { content: '🛑'; }
.emoji-1f4ea:before { content: '📪'; }
.emoji-1f6b9:before { content: '🚹'; }
.emoji-1f383:before { content: '🎃'; }
.emoji-1f949:before { content: '🥉'; }
.emoji-1f3da:before { content: '🏚'; }
.emoji-0039:before { content: '9'; }
.emoji-1f36b:before { content: '🍫'; }
.emoji-1f988:before { content: '🦈'; }
.emoji-1f354:before { content: '🍔'; }
.emoji-1f251:before { content: '🉑'; }
.emoji-1f399:before { content: '🎙'; }
.emoji-1f60c:before { content: '😌'; }
.emoji-1f457:before { content: '👗'; }
.emoji-1f6a4:before { content: '🚤'; }
.emoji-1f4d2:before { content: '📒'; }
.emoji-1f410:before { content: '🐐'; }
.emoji-23f8:before { content: '⏸'; }
.emoji-1f1eb:before { content: '🇫'; }
.emoji-1f51c:before { content: '🔜'; }
.emoji-1f374:before { content: '🍴'; }
.emoji-1f53b:before { content: '🔻'; }
.emoji-1f3d0:before { content: '🏐'; }
.emoji-1f409:before { content: '🐉'; }
.emoji-1f527:before { content: '🔧'; }
.emoji-1f446:before { content: '👆'; }
.emoji-1f53a:before { content: '🔺'; }
.emoji-1f3c9:before { content: '🏉'; }
.emoji-1f557:before { content: '🕗'; }
.emoji-1f95c:before { content: '🥜'; }
.emoji-23ef:before { content: '⏯'; }
.emoji-1f38e:before { content: '🎎'; }
.emoji-1f435:before { content: '🐵'; }
.emoji-1f4ca:before { content: '📊'; }
.emoji-1f3f0:before { content: '🏰'; }
.emoji-1f396:before { content: '🎖'; }
.emoji-1f5e8:before { content: '🗨'; }
.emoji-1f359:before { content: '🍙'; }
.emoji-1f68e:before { content: '🚎'; }
.emoji-1f4ef:before { content: '📯'; }
.emoji-1f3e0:before { content: '🏠'; }
.emoji-1f41f:before { content: '🐟'; }
.emoji-1f470:before { content: '👰'; }
.emoji-1f628:before { content: '😨'; }
.emoji-1f484:before { content: '💄'; }
.emoji-26f2:before { content: '⛲'; }
.emoji-1f300:before { content: '🌀'; }
.emoji-1f6a5:before { content: '🚥'; }
.emoji-1f501:before { content: '🔁'; }
.emoji-1f36a:before { content: '🍪'; }
.emoji-1f611:before { content: '😑'; }
.emoji-1f60a:before { content: '😊'; }
.emoji-1f19a:before { content: '🆚'; }
.emoji-1f3c5:before { content: '🏅'; }
.emoji-1f692:before { content: '🚒'; }
.emoji-1f40e:before { content: '🐎'; }
.emoji-1f5ff:before { content: '🗿'; }
.emoji-1f33c:before { content: '🌼'; }
.emoji-1f689:before { content: '🚉'; }
.emoji-1f34c:before { content: '🍌'; }
.emoji-1f3e8:before { content: '🏨'; }
.emoji-1f559:before { content: '🕙'; }
.emoji-1f6a1:before { content: '🚡'; }
.emoji-1f43c:before { content: '🐼'; }
.emoji-1f52f:before { content: '🔯'; }
.emoji-1f485:before { content: '💅'; }
.emoji-1f43f:before { content: '🐿'; }
.emoji-26f0:before { content: '⛰'; }
.emoji-1f428:before { content: '🐨'; }
.emoji-1f425:before { content: '🐥'; }
.emoji-1f926:before { content: '🤦'; }
.emoji-1f46b:before { content: '👫'; }
.emoji-1f23a:before { content: '🈺'; }
.emoji-1f310:before { content: '🌐'; }
.emoji-1f1f0:before { content: '🇰'; }
.emoji-26e9:before { content: '⛩'; }
.emoji-1f4bd:before { content: '💽'; }
.emoji-1f58d:before { content: '🖍'; }
.emoji-00a9:before { content: '©'; }
.emoji-1f6f4:before { content: '🛴'; }
.emoji-1f465:before { content: '👥'; }
.emoji-23f0:before { content: '⏰'; }
.emoji-1f48f:before { content: '💏'; }
.emoji-1f3aa:before { content: '🎪'; }
.emoji-1f4e8:before { content: '📨'; }
.emoji-1f552:before { content: '🕒'; }
.emoji-1f49b:before { content: '💛'; }
.emoji-274c:before { content: '❌'; }
.emoji-1f53c:before { content: '🔼'; }
.emoji-1f389:before { content: '🎉'; }
.emoji-1f393:before { content: '🎓'; }
.emoji-1f553:before { content: '🕓'; }
.emoji-1f33a:before { content: '🌺'; }
.emoji-1f39f:before { content: '🎟'; }
.emoji-1f6ab:before { content: '🚫'; }
.emoji-1f474:before { content: '👴'; }
.emoji-1f925:before { content: '🤥'; }
.emoji-1f3f4:before { content: '🏴'; }
.emoji-1f4eb:before { content: '📫'; }
.emoji-1f5fd:before { content: '🗽'; }
.emoji-1f346:before { content: '🍆'; }
.emoji-1f514:before { content: '🔔'; }
.emoji-1f50b:before { content: '🔋'; }
.emoji-1f5d1:before { content: '🗑'; }
.emoji-1f483:before { content: '💃'; }
.emoji-1f4c4:before { content: '📄'; }
.emoji-26ea:before { content: '⛪'; }
.emoji-1f6f3:before { content: '🛳'; }
.emoji-1f525:before { content: '🔥'; }
.emoji-1f630:before { content: '😰'; }
.emoji-1f30d:before { content: '🌍'; }
.emoji-1f35f:before { content: '🍟'; }
.emoji-1f302:before { content: '🌂'; }
.emoji-1f459:before { content: '👙'; }
.emoji-1f6a6:before { content: '🚦'; }
.emoji-27bf:before { content: '➿'; }
.emoji-1f46d:before { content: '👭'; }
.emoji-1f4b2:before { content: '💲'; }
.emoji-1f5d3:before { content: '🗓'; }
.emoji-26d1:before { content: '⛑'; }
.emoji-1f458:before { content: '👘'; }
.emoji-1f948:before { content: '🥈'; }
.emoji-1f6c5:before { content: '🛅'; }
.emoji-1f41d:before { content: '🐝'; }
.emoji-1f356:before { content: '🍖'; }
.emoji-1f5a4:before { content: '🖤'; }
.emoji-1f40c:before { content: '🐌'; }
.emoji-1f406:before { content: '🐆'; }
.emoji-1f566:before { content: '🕦'; }
.emoji-1f952:before { content: '🥒'; }
.emoji-1f3d9:before { content: '🏙'; }
.emoji-1f3b0:before { content: '🎰'; }
.emoji-1f4b6:before { content: '💶'; }
.emoji-1f3bc:before { content: '🎼'; }
.emoji-1f4d0:before { content: '📐'; }
.emoji-1f551:before { content: '🕑'; }
.emoji-1f917:before { content: '🤗'; }
.emoji-1f38f:before { content: '🎏'; }
.emoji-0035:before { content: '5'; }
.emoji-1f60e:before { content: '😎'; }
.emoji-1f3e9:before { content: '🏩'; }
.emoji-1f64a:before { content: '🙊'; }
.emoji-1f453:before { content: '👓'; }
.emoji-1f958:before { content: '🥘'; }
.emoji-1f558:before { content: '🕘'; }
.emoji-1f309:before { content: '🌉'; }
.emoji-1f934:before { content: '🤴'; }
.emoji-1f452:before { content: '👒'; }
.emoji-1f352:before { content: '🍒'; }
.emoji-1f943:before { content: '🥃'; }
.emoji-1f315:before { content: '🌕'; }
.emoji-1f927:before { content: '🤧'; }
.emoji-1f5f3:before { content: '🗳'; }
.emoji-1f45a:before { content: '👚'; }
.emoji-1f699:before { content: '🚙'; }
.emoji-1f316:before { content: '🌖'; }
.emoji-1f56f:before { content: '🕯'; }
.emoji-1f916:before { content: '🤖'; }
.emoji-1f58a:before { content: '🖊'; }
.emoji-23ee:before { content: '⏮'; }
.emoji-1f333:before { content: '🌳'; }
.emoji-1f44a:before { content: '👊'; }
.emoji-1f4a4:before { content: '💤'; }
.emoji-1f3b6:before { content: '🎶'; }
.emoji-1f385:before { content: '🎅'; }
.emoji-1f420:before { content: '🐠'; }
.emoji-1f507:before { content: '🔇'; }
.emoji-1f3d1:before { content: '🏑'; }
.emoji-1f6ba:before { content: '🚺'; }
.emoji-1f6bc:before { content: '🚼'; }
.emoji-1f424:before { content: '🐤'; }
.emoji-1f317:before { content: '🌗'; }
.emoji-1f560:before { content: '🕠'; }
.emoji-1f94a:before { content: '🥊'; }
.emoji-263a:before { content: '☺'; }
.emoji-1f39a:before { content: '🎚'; }
.emoji-1f517:before { content: '🔗'; }
.emoji-1f427:before { content: '🐧'; }
.emoji-1f50c:before { content: '🔌'; }
.emoji-1f480:before { content: '💀'; }
.emoji-1f1fa:before { content: '🇺'; }
.emoji-1f1ec:before { content: '🇬'; }
.emoji-26a0:before { content: '⚠'; }
.emoji-1f3f9:before { content: '🏹'; }
.emoji-1f308:before { content: '🌈'; }
.emoji-1f34b:before { content: '🍋'; }
.emoji-1f351:before { content: '🍑'; }
.emoji-1f68d:before { content: '🚍'; }
.emoji-25fc:before { content: '◼'; }
.emoji-1f4d5:before { content: '📕'; }
.emoji-1f3dc:before { content: '🏜'; }
.emoji-1f4c0:before { content: '📀'; }
.emoji-1f3dd:before { content: '🏝'; }
.emoji-1f4dc:before { content: '📜'; }
.emoji-1f403:before { content: '🐃'; }
.emoji-1f47d:before { content: '👽'; }
.emoji-1f31b:before { content: '🌛'; }
.emoji-26f3:before { content: '⛳'; }
.emoji-1f3cc:before { content: '🏌'; }
.emoji-1f627:before { content: '😧'; }
.emoji-1f54c:before { content: '🕌'; }
.emoji-1f93a:before { content: '🤺'; }
.emoji-1f44b:before { content: '👋'; }
.emoji-1f944:before { content: '🥄'; }
.emoji-1f6e9:before { content: '🛩'; }
.emoji-1f683:before { content: '🚃'; }
.emoji-1f6ae:before { content: '🚮'; }
.emoji-1f5b2:before { content: '🖲'; }
.emoji-1f35d:before { content: '🍝'; }
.emoji-1f48c:before { content: '💌'; }
.emoji-1f4cb:before { content: '📋'; }
.emoji-1f37c:before { content: '🍼'; }
.emoji-1f426:before { content: '🐦'; }
.emoji-1f6cb:before { content: '🛋'; }
.emoji-1f521:before { content: '🔡'; }
.emoji-1f4c7:before { content: '📇'; }
.emoji-264c:before { content: '♌'; }
.emoji-1f3e1:before { content: '🏡'; }
.emoji-1f648:before { content: '🙈'; }
.emoji-1f687:before { content: '🚇'; }
.emoji-1f37f:before { content: '🍿'; }
.emoji-1f34e:before { content: '🍎'; }
.emoji-1f986:before { content: '🦆'; }
.emoji-1f36f:before { content: '🍯'; }
.emoji-1f438:before { content: '🐸'; }
.emoji-1f4f7:before { content: '📷'; }
.emoji-1f980:before { content: '🦀'; }
.emoji-1f4f9:before { content: '📹'; }
.emoji-1f34a:before { content: '🍊'; }
.emoji-1f407:before { content: '🐇'; }
.emoji-1f476:before { content: '👶'; }
.emoji-1f334:before { content: '🌴'; }
.emoji-21a9:before { content: '↩'; }
.emoji-1f520:before { content: '🔠'; }
.emoji-26b0:before { content: '⚰'; }
.emoji-1f512:before { content: '🔒'; }
.emoji-1f416:before { content: '🐖'; }
.emoji-1f955:before { content: '🥕'; }
.emoji-1f3ba:before { content: '🎺'; }
.emoji-1f431:before { content: '🐱'; }
.emoji-0036:before { content: '6'; }
.emoji-1f921:before { content: '🤡'; }
.emoji-1f957:before { content: '🥗'; }
.emoji-1f4d3:before { content: '📓'; }
.emoji-1f32e:before { content: '🌮'; }
.emoji-1f345:before { content: '🍅'; }
.emoji-26b1:before { content: '⚱'; }
.emoji-1f3cd:before { content: '🏍'; }
.emoji-1f4ce:before { content: '📎'; }
.emoji-1f31d:before { content: '🌝'; }
.emoji-1f610:before { content: '😐'; }
.emoji-1f40d:before { content: '🐍'; }
.emoji-1f38a:before { content: '🎊'; }
.emoji-1f30f:before { content: '🌏'; }
.emoji-1f4bf:before { content: '💿'; }
.emoji-1f68a:before { content: '🚊'; }
.emoji-1f4f4:before { content: '📴'; }
.emoji-1f4da:before { content: '📚'; }
.emoji-1f3b1:before { content: '🎱'; }
.emoji-1f478:before { content: '👸'; }
.emoji-1f31e:before { content: '🌞'; }
.emoji-1f6c2:before { content: '🛂'; }
.emoji-1f539:before { content: '🔹'; }
.emoji-1f490:before { content: '💐'; }
.emoji-1f365:before { content: '🍥'; }
.emoji-1f3de:before { content: '🏞'; }
.emoji-1f412:before { content: '🐒'; }
.emoji-1f510:before { content: '🔐'; }
.emoji-1f914:before { content: '🤔'; }
.emoji-1f319:before { content: '🌙'; }
.emoji-1f529:before { content: '🔩'; }
.emoji-1f612:before { content: '😒'; }
.emoji-26fd:before { content: '⛽'; }
.emoji-1f6cf:before { content: '🛏'; }
.emoji-1f4cd:before { content: '📍'; }
.emoji-1f4d1:before { content: '📑'; }
.emoji-1f68b:before { content: '🚋'; }
.emoji-1f3a4:before { content: '🎤'; }
.emoji-1f936:before { content: '🤶'; }
.emoji-1f34d:before { content: '🍍'; }
.emoji-0038:before { content: '8'; }
.emoji-1f3e3:before { content: '🏣'; }
.emoji-1f45c:before { content: '👜'; }
.emoji-1f3c7:before { content: '🏇'; }
.emoji-1f414:before { content: '🐔'; }
.emoji-26f1:before { content: '⛱'; }
.emoji-1f982:before { content: '🦂'; }
.emoji-1f318:before { content: '🌘'; }
.emoji-264d:before { content: '♍'; }
.emoji-264e:before { content: '♎'; }
.emoji-1f43b:before { content: '🐻'; }
.emoji-1f4f5:before { content: '📵'; }
.emoji-1f696:before { content: '🚖'; }
.emoji-1f4bb:before { content: '💻'; }
.emoji-1f3a1:before { content: '🎡'; }
.emoji-1f6f5:before { content: '🛵'; }
.emoji-1f31c:before { content: '🌜'; }
.emoji-1f9c0:before { content: '🧀'; }
.emoji-26fa:before { content: '⛺'; }
.emoji-1f57a:before { content: '🕺'; }
.emoji-1f5c4:before { content: '🗄'; }
.emoji-1f511:before { content: '🔑'; }
.emoji-1f491:before { content: '💑'; }
.emoji-1f340:before { content: '🍀'; }
.emoji-1f1e8:before { content: '🇨'; }
.emoji-1f3ca:before { content: '🏊'; }
.emoji-1f495:before { content: '💕'; }
.emoji-1f6ac:before { content: '🚬'; }
.emoji-1f4c2:before { content: '📂'; }
.emoji-1f600:before { content: '😀'; }
.emoji-1f6c1:before { content: '🛁'; }
.emoji-1f3d3:before { content: '🏓'; }
.emoji-23f2:before { content: '⏲'; }
.emoji-1f991:before { content: '🦑'; }
.emoji-1f413:before { content: '🐓'; }
.emoji-1f596:before { content: '🖖'; }
.emoji-1f5bc:before { content: '🖼'; }
.emoji-26aa:before { content: '⚪'; }
.emoji-1f388:before { content: '🎈'; }
.emoji-1f508:before { content: '🔈'; }
.emoji-1f6cc:before { content: '🛌'; }
.emoji-1f370:before { content: '🍰'; }
.emoji-1f3f8:before { content: '🏸'; }
.emoji-1f5d2:before { content: '🗒'; }
.emoji-1f680:before { content: '🚀'; }
.emoji-1f526:before { content: '🔦'; }
.emoji-1f5a5:before { content: '🖥'; }
.emoji-1f3b9:before { content: '🎹'; }
.emoji-1f6b0:before { content: '🚰'; }
.emoji-1f37d:before { content: '🍽'; }
.emoji-1f947:before { content: '🥇'; }
.emoji-1f912:before { content: '🤒'; }
.emoji-1f556:before { content: '🕖'; }
.emoji-1f369:before { content: '🍩'; }
.emoji-1f587:before { content: '🖇'; }
.emoji-1f36c:before { content: '🍬'; }
.emoji-1f46c:before { content: '👬'; }
.emoji-1f464:before { content: '👤'; }
.emoji-1f937:before { content: '🤷'; }
.emoji-26d3:before { content: '⛓'; }
.emoji-1f918:before { content: '🤘'; }
.emoji-1f6b7:before { content: '🚷'; }
.emoji-1f39e:before { content: '🎞'; }
.emoji-1f93d:before { content: '🤽'; }
.emoji-1f69e:before { content: '🚞'; }
.emoji-1f445:before { content: '👅'; }
.emoji-1f989:before { content: '🦉'; }
.emoji-1f532:before { content: '🔲'; }
.emoji-1f44c:before { content: '👌'; }
.emoji-1f36e:before { content: '🍮'; }
.emoji-1f6a3:before { content: '🚣'; }
.emoji-1f981:before { content: '🦁'; }
.emoji-1f3cf:before { content: '🏏'; }
.emoji-1f68c:before { content: '🚌'; }
.emoji-1f6a7:before { content: '🚧'; }
.emoji-1f342:before { content: '🍂'; }
.emoji-1f442:before { content: '👂'; }
.emoji-1f41b:before { content: '🐛'; }
.emoji-1f3d4:before { content: '🏔'; }
.emoji-23cf:before { content: '⏏'; }
.emoji-1f3d2:before { content: '🏒'; }
.emoji-1f64d:before { content: '🙍'; }
.emoji-1f434:before { content: '🐴'; }
.emoji-1f1ea:before { content: '🇪'; }
.emoji-1f3d6:before { content: '🏖'; }
.emoji-1f463:before { content: '👣'; }
.emoji-1f47b:before { content: '👻'; }
.emoji-1f4a7:before { content: '💧'; }
.emoji-1f4f3:before { content: '📳'; }
.emoji-1f574:before { content: '🕴'; }
